*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 3em;
    background-color: antiquewhite; 
}

.container{
    display: flex;

    margin: 2em;
    padding: 3em 1em 2em 1em;
}

.image img{
    width: 70%;
    height: auto;
}

footer{
    padding: 5em;
    background-color: antiquewhite; 
}