body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f8f8; 
}

/* Navigation */
nav {
  position: sticky;
  top: 0;
  background-color: #f8f8f8;
  z-index: 1000;
}

/* Menu Items */
.menu-item {
  transition: all 0.3s ease;
}

.menu-item:hover {
  color: red;
  transform: scale(1.1);
}

/* Hero Image */
.hero-image {
  background-image: url("Banner.png");
  object-fit: cover;
  background-color: black;
  background-position: center;
  background-size: cover;
  height: 100%;
  position: relative;
  opacity: 1;
}

/* Hero Text */
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: transparent;
  width: auto;
  height: auto;
  padding: 0.5rem;
  border-radius: 10px;
}

.hero-text h1 {
  font-size: 40px;
  font-family: 'Gill sans';
  text-align: center;
}

.hero-text p {
  font-size: 18px;
  font-family:Cambria;
  text-align: justify;
}

.hero-text img{
  width: 30%;
  height: 30%;
  background-color: #dfdb16;
  border-radius: 20px;
  margin: 2rem;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

/* Container Visi Misi */
.container-visimisi {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2em;
  background-color: #ffcc00;
}

.container-visimisi h1{
  font-family: 'Gill sans';
  font-size: 30px;
  font-weight: bold;
}

.container-visimisi p ul{
  font-family: 'Gill sans';
  font-size: 20px;
}

/* Visi */
.visi{
  background-color: white;
  border: 2px solid #333;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 1000px;
}

/* Misi */
.misi{
  background-color: white;
  border: 2px solid #333;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 1000px;
}

/* Container */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: end;
  gap: 20px;
}

/* Box */
.box {
  border: 2px solid #333;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 1000px;
}

.box h1 {
  margin: 0;
  font-weight: bolder;
  font-size: 40px;
}

.box p {
  margin-bottom: 10px;
}

/* Services */
.services {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1em;
  padding: 3rem;
}

/* Jam Oprasional */
.Jam-Oprasional {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5rem;
}

.Jam-Oprasional h2 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 10px;
}

.Jam-Oprasional tr th td{
  justify-content: center;
  align-items: center;
}

/* Service */
.service {
  background-color: #ffcc00;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  width: 250px;
  text-align: center;
  height: auto;
  transition: all 0.3s ease;
}

.service:hover {
  transform: scale(1.1);
}

.service h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.service p {
  font-size: 14px;
  color: #333;
}

.service button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10%;
}

.service button:hover {
  background-color: #555;
  color: white;
  border-radius: 10%;
}

/* Footer */
.footer {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f8f8f8;
  padding: 20px;
  border-top: 2px solid #ccc;
  font-family: Arial, sans-serif;
  font-size: larger;
}

.contact, .address {
  width: 50%;
}

.contact ul li{
  display: flex;
  flex-direction: colun;
  gap: 10px;
  padding-top: 10px;
}

.contact h3, .address h3 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 10px;
}

.icons {
  display: flex;
  gap: 10px;
}

.icons img {
  width: 5%;
  height: auto;
}

.address p {
  font-size: 10px;
  color: #555;
}

.address img {
  margin: 1rem;
  width: 10%;
  height: auto;
}
